{% extends 'base_files/base.html' %}

{% block content %}
{% include 'Navbar.html' %}
  <div class="container mt-5">
    <h2>Book List</h2>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Book_Name</th>
          <th>Stock</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for i in book %}
          <tr>
            <td>{{ i.book_title }}</td>
            <td>{{ i.stock }}</td>
            <td><a href="http://127.0.0.1:8000/studentedit/{{student.id}}" class="btn btn-warning" style="border-radius:20px; width:60px;"><i class="fa-sharp fa-regular fa-pen-to-square"></i></a></td>
            <td><a href="http://127.0.0.1:8000/studentdel/{{student.id}}" class="btn btn-info" style="border-radius:20px; width:60px;"><i class="fa-solid fa-trash"></i></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}