{% extends 'base_files/base.html' %}

{% block content %}
{% include 'Navbar.html' %}
  <div class="container mt-5">
    <h2>Payment list</h2>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>No</th>
          <th>Student_Name</th>
          <th>Amount</th>
          <th>Payment_Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for i in fee %}
          <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.student }}</td>
            <td>{{ i.amount }}</td>
            <td>{{ i.payment_date }}</td>
            <td>{{ i.status }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}