{% extends 'base_files/base.html' %}

{% block content %}
{% include 'Navbar.html' %}
  <div class="container mt-5">
    <h2>Library History</h2>
    <hr>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Student_Name</th>
          <th>Book_title</th>
          <th>Email</th>
          <th>Book_date</th>
          <th>Return_date</th>
        </tr>
      </thead>
      <tbody>
        {% for i in library %}
          <tr>
            <td>{{ i.student }}</td>
            <td>{{ i.book_title }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.book_date }}</td>
            <td>{{ i.return_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}