{% extends 'base_files/base.html' %}

{% block content %}
{% include 'Navbar.html' %}
  <div class="container mt-5">
    <h2>Students List</h2>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.address }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.phone }}</td>
            <td><a href="http://127.0.0.1:8000/studentedit/{{student.id}}" class="btn btn-warning" style="border-radius:20px; width:60px;"><i class="fa-sharp fa-regular fa-pen-to-square"></i></a></td>
            <td><a href="http://127.0.0.1:8000/studentdel/{{student.id}}" class="btn btn-info" style="border-radius:20px; width:60px;"><i class="fa-solid fa-trash"></i></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}